**/bin/
**.class
**.class
**/.DS_Store
**/.settings
**/.settings/org.eclipse.jdt.core.prefs
.project
Client/bin/
Client/.gitignore
Client/.project
Server/bin/
Server/.gitignore
Server/.project
Server/.classpath
OCSF/bin/
OCSF/.gitignore
OCSF/.project
OCSF/.classpath
Common/bin/
Common/.gitignore
Common/.project
Common/.classpath
Common/.classpath
