/*root */
.root {
    -fx-background-color: #e8e1e9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

/*table view */
.root {
    -fx-background-color: #e8e1e9;
}
.table-view {
	-fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: #e8e1e9;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color:  #766078;
    -fx-text-background-color: #e8e1e9;
    -fx-background-radius: 7px 7px 0px 0px;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: transparent;
    -fx-text-background-color: #48314b;
    font-weight: bold;
    
}
.table-row-cell:pressed {
    -fx-background-color: transparent;
    -fx-text-background-color: #48314b;
    -fx-font-weight: bold;
}
.table-row-cell:selected {
   -fx-background-color: #dccfdd; 
   -fx-text-background-color: #48314b;
   -fx-font-weight: bold;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
/*press buttons */
.button {
	-fx-background-color: #490a50; /* Purple background color */
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Motion effect */
}

.button :hover{
	-fx-background-color: #766078; /* Darker color on hover */
    -fx-cursor: hand; /* Change cursor on hover */
}

.button :pressed {
    -fx-background-color: #766078; /* Darker color on press */
    -fx-effect: none; /* Remove motion effect on press */
}

.button :disabled {
    -fx-opacity: 0.5;
    -fx-cursor: not-allowed; /* Change cursor when disabled */
}

.button-view {
    -fx-background-color: #490a50; /* Purple background color */
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Motion effect */
}

.button-view :hover {
    -fx-background-color: #766078; /* Darker color on hover */
    -fx-cursor: hand; /* Change cursor on hover */
}

.button-view :pressed {
    -fx-background-color: #766078; /* Darker color on press */
    -fx-effect: none; /* Remove motion effect on press */
}

.button-view :disabled {
    -fx-opacity: 0.5;
    -fx-cursor: not-allowed; /* Change cursor when disabled */
}
.toggle-btns {
	-fx-background-color: transparent; /* Darker color on press */
	
}
/*labels */
.label {
	-fx-fill: #490a50;
	-fx-font-family : Wingdings 3;
}
.label-view{
	-fx-fill: #490a50;
	-fx-font-family : Wingdings 3;
}
.label-headline{
	-fx-fill: #490a50;
	-fx-font-family : Wingdings 3;
}
/*text boxes */
.txt-view {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #e8e1e9;
    text-align: center;
    -fx-text-fill: #490a50;
}
/*drop down lists */
.ddl-view {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Motion effect */
	-fx-background-color: #ffffff;
}
/*menu */
.menu-toolbar{
	-fx-background-color: #490a50;
}
.menuBtn{
	-fx-text-fill: #e8e1e9;
	-fx-background-color: transparent;
}
.menu-headline {
	-fx-fill: #e8e1e9;
	-fx-font-family : Wingdings 3;
}

.rootAYS{
	-fx-background-color: #766078;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}
.textAYS{
	-fx-fill: #e8e1e9;
}