.root {
    -fx-background-color: #e8e1e9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}
.menu-toolbar{
	-fx-background-color: #490a50;
}
.menuBtn{
	-fx-text-fill: #ffffff;
	-fx-background-color: transparent;
}