.root {
    -fx-background-color: #e8e1e9;
}

#lblHost, #lblIP, #lblScheme, #lblPort, #lblPass {
    -fx-fill: #490a50;
    -fx-font-size: 14px;
    text-align: center;
    
}

#txtHost, #txtIP, #txtScheme, #txtPort, #txtPass {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #e8e1e9;
    text-align: center;
}

#btnConnect, #btnExit {
    -fx-background-color: #490a50; /* Purple background color */
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Motion effect */
}

#btnConnect:hover, #btnExit:hover {
    -fx-background-color: #766078; /* Darker color on hover */
    -fx-cursor: hand; /* Change cursor on hover */
}

#btnConnect:pressed, #btnExit:pressed {
    -fx-background-color: #766078; /* Darker color on press */
    -fx-effect: none; /* Remove motion effect on press */
}

#btnConnect:disabled, #btnExit:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: not-allowed; /* Change cursor when disabled */
}